.button {
    min-height: 44px;
    min-width: 120px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    margin: 0px;
    &:hover {
        filter: brightness(90%);
    }
}

.primary {
    background-color: #2CA895;
    color: white;
}

.secondary {
    background-color: #3C73B8;
    color: white;
}

.tertiary {
    background-color: #8f9194;
    color: white;
}

.quaternary {
    background-color: #f2f2f2;
    color: black;
}

.denial {
    background-color: #9B1A06;
    color: white;
}

.disabled {}